.wrapper {
  // outline: 1px solid red;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px); //animation
  transition: all 0.2s ease-in-out;

  width: 100%;
  position: absolute;
  top: var(--navbar-height); /* Align just below the button */
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  background-color: var(--main-background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  padding: 1rem 0 1rem 1rem;

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  ul {
    list-style-type: none;
  }

  li {
    button {
      background-color: transparent;
    }
  }

  @media (max-width: 550px) {
    height: 100vh;
    align-items: center;
    padding: 1rem;

    top: calc(var(--navbar-height) - 20px);
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;

  @media (max-width: 550px) {
    width: 100%;
    gap: 1rem;
    padding-bottom: 10%;
  }
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;

  @media (max-width: 550px) {
    padding-left: 0;
    gap: 2rem;
  }
}
