.navWrapper {
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--main-background-color);
  &.scrolled {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.wrapper {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3% 1rem 5%;
  gap: 0.2rem;
  // outline: 1px solid red;

  @media (max-width: 550px) {
    height: calc(var(--navbar-height) - 20px);
  }
}

.logo {
  background-color: transparent;
  transition: 0.2s;
  $logoSize: 50px;
  height: $logoSize;
  width: $logoSize;
  img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    scale: 1.1;
  }

  @media (max-width: 550px) {
    $logoSize: 40px;
    height: $logoSize;
    width: $logoSize;
  }
}

.mobileNavbar {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    gap: 0.5rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  @media (max-width: 800px) {
    display: none;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (max-width: 800px) {
    display: none;
  }
}
