.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  gap: 0.2rem;
  // outline: 1px solid red;
  background-color: transparent;
}

.logo {
  background-color: transparent;

  height: 50px;
  img {
    height: 100%;
    width: 100%;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
