.wrapper {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  gap: 0.2rem;
  // outline: 1px solid red;
  background-color: transparent;
}

.logo {
  background-color: transparent;
  transition: 0.2s;
  height: 50px;
  width: 50px;
  img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    scale: 1.1;
  }
}

.mobileNavbar {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    gap: 1rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  @media (max-width: 800px) {
    display: none;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 800px) {
    display: none;
  }
}
