.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 300px;
  cursor: pointer;
  transition: 0.2s;
  // border-bottom: 1px solid black;

  .imageWrapper {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: 0.2s;
      &:hover {
        scale: 1.1;
      }
    }
  }

  .content {
    width: 100%;
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 5px;
    font-family: 'Playfair Display';

    .price {
      font-weight: 700;
    }

    p:first-child {
      font-weight: 600;
      color: var(--main-second-text-color);
    }

    @media (max-width: 550px) {
      padding-left: 0px;
    }
  }

  @media (max-width: 750px) {
    width: 200px;
  }

  @media (max-width: 550px) {
    width: 150px;
  }
}
