.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: none;
  backdrop-filter: blur(1px);

  &.visible {
    display: block;
  }
}

.wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  $size: 400px;
  right: -$size; /* Initially hidden outside the screen */
  width: $size;
  height: 100vh;
  background-color: var(--main-background-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  &.visible {
    right: 0; /* Fully visible */
  }

  @media (max-width: 550px) {
    width: 100%;
    top: 0;
    right: -100%;
    justify-content: space-between;
    padding: 1rem 1rem 3rem 1rem;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
