.wrapper {
  display: flex;
  gap: 0.5rem;
  // outline: 1px solid red;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(203, 201, 201);

  .itemImage {
    margin-top: 5px;
    $size: 50px;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
    object-fit: cover;
    // border-radius: 10px;
    // outline: 1px solid red;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;
  // outline: 1px solid pink;
  h3 {
    padding: 0;
    margin: 0;
    // outline: 1px solid blue;
    line-height: var(--font-size-h3);
  }
  h5 {
    font-weight: 400;
  }

  .titleWrapper {
    // outline: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.actionWrapper {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 0.4rem;

  h5 {
    color: var(--main-second-text-color);
  }

  .removeIcon {
    $size: 28px;
    width: $size;
    height: $size;
    background-color: var(--main-background-color);

    img {
      filter: invert(0%) sepia(82%) saturate(1250%) hue-rotate(358deg)
        brightness(81%) contrast(92%);
    }
  }
}
