.descriptionContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   gap: 2rem;
  text-align: center;

  .title {
    width: fit-content;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}
